<cafeteria-content-wrapper>
  <mat-card class="cafeteria-card">
    <mat-card-title>User management</mat-card-title>
    <cafeteria-resource-table
        sortField="username"
        endpointName="users"
        [displayedColumns]="displayedColumns"
        [columnLabels]="columnLabels"
        [valueKeys]="displayedColumns"
        routeLink="/users"
        linkField="username">
      <button mat-button mat-raised-button routerLink="create">Create user</button>
    </cafeteria-resource-table>
  </mat-card>
</cafeteria-content-wrapper>
