.mat-table {
  width: 100%;

  .mat-header-row {
    height: 46px;
  }

  .mat-row {
    height: 40px;
  }

  .mat-cell {
    word-break: break-word;
  }

}

mat-list.detail {
  & > *:last-child > mat-list-item.list-item {
    border-bottom: none;
  }

  mat-list-item.list-item {
    border-bottom: 1px solid lightgrey;

    .item-label {
      min-width: 150px;
    }
  }
}

.mat-list-base .mat-list-item{
  word-break: break-word;
}

.meals {
  & > *:last-child > .list-item {
    border-bottom: none;
  }

  .list-item {
    @media (max-width: 599.99px) {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
