table {
  width: 100%;

  tr.mat-header-row {
    height: 46px;
  }

  tr.mat-row {
    height: 40px;
  }

}

mat-list.detail {
  & > *:last-child > mat-list-item.list-item {
    border-bottom: none;
  }

  mat-list-item.list-item {
    border-bottom: 1px solid lightgrey;

    .item-label {
      min-width: 150px;
    }
  }
}
