<div class="wrapper" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="30%" fxFlex.sm="90%" fxFlex.xs="90%">
    <mat-card>
      <mat-card-title i18n>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput type="text" placeholder="Username" maxlength="100" formControlName="username" i18n-placeholder>
            <mat-error *ngIf="usernameField.errors?.required">
              Username cannot be empty.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" maxlength="100" formControlName="password" required i18n-placeholder>
            <mat-error *ngIf="passwordField.errors?.required">
              Password cannot be empty.
            </mat-error>
          </mat-form-field>
          <div fxLayoutAlign="center" fxLayoutGap="16px">
            <button mat-button mat-raised-button type="submit" color="primary" i18n>Login</button>
            <button mat-button mat-raised-button routerLink="register" i18n>Register</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
