<cafeteria-content-wrapper>
  <mat-card>
    <mat-card-title i18n>Menu</mat-card-title>
    <mat-card-content>
      <cafeteria-resource-table
          sortField="date"
          sortDirection="desc"
          endpointName="meals"
          [displayedColumns]="displayedColumns"
          [columnLabels]="columnLabels"
          [valueKeys]="displayedColumns"
          [options]="{ showOrders: true }"
          routeLink="/meals"
          linkField="id"
      >
        <button mat-button mat-raised-button routerLink="create" i18n>Create meal</button>
      </cafeteria-resource-table>
    </mat-card-content>
  </mat-card>
</cafeteria-content-wrapper>
